<form name="myForm" class="login">
    <div>
        <input type="text" required ng-model="vm.name" placeholder="快点输入名字！" name="yahaha"  ng-pattern="/^[\u4e00-\u9fa5]{2,4}$/">
        <span style="color:red" ng-show="myForm.yahaha.$dirty && myForm.yahaha.$invalid">2-4个汉字！</span>
    </div>
    <div>
        <input type="text" name="phone" placeholder="手机号码！赶紧！"  ng-model="vm.phone" ng-pattern="/^(((\+86)|(86))?1[0-9]{10})$/">
        <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">联系电话格式不正确！</span>
    </div>
    <button class="btn" ng-click ="vm.go()">？？？</button>
    <div class="box">2333</div>
    <div ng-click = "vm.showContract()" style="margin: .2rem 0 ">查看相关合同条约</div>
    <div ui-sref = "matching">走，我们去看债权匹配页面</div>
    <div class="contract" ng-show = "vm.contract" ng-click ="vm.close()">
        <div class="contract-content" ng-click ="vm.stop()">
            <div class="back-btn" ng-click ="vm.close()"><</div>
            <h1>条款</h1>
            <div>第一，绝对不意气用事</div>
            <div>第二，绝对不漏判任何一件坏事</div>
            <div>第三，绝对裁判的公正漂亮，裁判机器人蜻蜓队长前来觐见！</div>
            <div>这场和平星争夺战由我来做裁判!</div>
            <div>第一，绝对不意气用事</div>
            <div>第二，绝对不漏判任何一件坏事</div>
            <div>第三，绝对裁判的公正漂亮，裁判机器人蜻蜓队长前来觐见！</div>
            <div>这场和平星争夺战由我来做裁判!</div>
            <div>第一，绝对不意气用事</div>
            <div>第二，绝对不漏判任何一件坏事</div>
            <div>第三，绝对裁判的公正漂亮，裁判机器人蜻蜓队长前来觐见！</div>
            <div>这场和平星争夺战由我来做裁判!</div>
            <div>第一，绝对不意气用事</div>
            <div>第二，绝对不漏判任何一件坏事</div>
            <div>第三，绝对裁判的公正漂亮，裁判机器人蜻蜓队长前来觐见！</div>
            <div>这场和平星争夺战由我来做裁判!</div>
            <div>第一，绝对不意气用事</div>
            <div>第二，绝对不漏判任何一件坏事</div>
            <div>第三，绝对裁判的公正漂亮，裁判机器人蜻蜓队长前来觐见！</div>
            <div>这场和平星争夺战由我来做裁判!</div>
        </div>
    </div>
</form>
